@import "./_var.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // outline: 1px solid red;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.fl-row-sp-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.header {
  height: 68px;
  cursor: pointer;
  &-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
  }
  &-wrapper {
    background-color: $main-darck;
  }
  &__logo {
    align-content: center;
    align-items: center;
    &:hover {
      .logo {
        transform: rotateX(180deg);
      }
      .title-sumbol:nth-child(odd) {
        transform: translateY(-3px);
      }
      .title-sumbol:nth-child(even) {
        transform: translateY(3px);
      }
    }
  }
  &__nav {
    width: 50%;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  transition: all .3s;
  &__title {
    font-size: 0px;
    color: $second-light;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0 3px;
  }
}

.title-sumbol {
  font-size: 32px;
  display: inline-block;
  transition: all .4s;
}

.nav {
  align-content: center;
  align-items: center;
  &__el {
    flex-grow: 1;
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0%;
      background-color: $second-light;
      transition: all .2s;
    }
    &:hover {
      color: $second-light;
      &::after {
        width: 100%;
      }
    }
  }
}

.main {
  margin-top: 67px;
  min-height: calc(100vh - 67px);
  position: relative;
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: contain;
  mix-blend-mode: lighten;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  &::after {
    content: "";
    background-color: rgba( 49, 29, 94, .85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.menu {
  min-width: 200px;
  border: 1px solid $second-light;
  color: $white;
  margin-right: 24px;
  position: relative;
  overflow-x: hidden;
  transition: margin-left .4s, border-color .4s;
  &-list {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__el {
      margin-bottom: 16px;
      letter-spacing: 0px;
      transition: all .3s;
      position: relative;
      will-change: letter-spacing;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        letter-spacing: 3px;
      }
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        right: -24px;
        top: 6px;
        background-image: url("/img/logo-to-left.png");
        display: none;
        background-size: cover;
        will-change: transform;
      }
      &:hover::after {
        display: block;
        animation: rotate .6s linear infinite;
      }
    }
  }
  &-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid $second-light;
    background: none;
    span {
      position: absolute;
      width: 18px;
      height: 1px;
      background-color: $second-light;
      transition: all .3s;
      left: 3px;
      &:nth-child(1) {
        top: 11px;
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        top: 11px;
        opacity: 0;
        transition: all .3s;
      }
      &:nth-child(3) {
        top: 11px;
        transform: rotate(45deg);
      }
    }
  }
}

.content {
  flex-grow: 1;
  border: 1px solid $second-light;
  color: $white;
  padding: 16px;
}

#qwerty:checked {
  &+.menu {
    margin-left: -196px;
    border-color: transparent;
  }
}

#qwerty:checked+.menu .menu-btn {
  span {
    &:nth-child(1) {
      top: 5px;
      transform: rotate(0deg);
    }
    &:nth-child(2) {
      opacity: 1;
    }
    &:nth-child(3) {
      top: 17px;
      transform: rotate(0deg);
    }
  }
}

#qwerty {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}