@import "./_var.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.fl-row-sp-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.header {
  height: 68px;
  cursor: pointer;
  &-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
  }
  &-wrapper {
    background-color: $main-darck;
  }
  &__logo {
    align-content: center;
    align-items: center;
    &:hover {
      .logo {
        transform: rotateX(180deg);
      }
      .title-sumbol:nth-child(odd) {
        transform: translateY(-3px);
      }
      .title-sumbol:nth-child(even) {
        transform: translateY(3px);
      }
    }
  }
  &__nav {
    width: 50%;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  transition: all .3s;
  &__title {
    font-size: 0px;
    color: $second-light;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0 3px;
  }
}

.title-sumbol {
  font-size: 32px;
  display: inline-block;
  transition: all .4s;
}

.nav {
  align-content: center;
  align-items: center;
  &__el {
    flex-grow: 1;
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0%;
      background-color: $second-light;
      transition: all .2s;
    }
    &:hover {
      color: $second-light;
      &::after {
        width: 100%;
      }
    }
  }
}

.main {
  width: 100%;
  &-container {
    padding: 24px;
    min-height: 100vh;
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    mix-blend-mode: lighten;
    display: flex;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    margin-top: 67px;
    min-height: calc(100vh - 67px);
    align-items: flex-start;
    &::after {
      content: "";
      background-color: rgba(49, 29, 94, .85);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.menu {
  min-width: 200px;
  border: 1px solid $second-light;
  color: $white;
  margin-right: 24px;
  position: relative;
  overflow-x: hidden;
  transition: margin-left .4s, border-color .4s;
  &-list {
    margin: 16px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__el {
      margin-bottom: 16px;
      letter-spacing: 0px;
      transition: all .3s;
      position: relative;
      will-change: letter-spacing;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        letter-spacing: 1px;
      }
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        right: -24px;
        top: 6px;
        background-image: url("/img/logo-to-left.png");
        display: none;
        background-size: cover;
        will-change: transform;
      }
      &:hover::after {
        display: block;
        animation: rotate .6s linear infinite;
      }
      &[data-tab="selected"]:after {
        display: block;
      }
      &[data-tab="selected"] {
        letter-spacing: 1px;
      }
    }
  }
  &-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid $second-light;
    background: none;
    span {
      position: absolute;
      width: 18px;
      height: 1px;
      background-color: $second-light;
      transition: all .3s;
      left: 3px;
      &:nth-child(1) {
        top: 11px;
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        top: 11px;
        opacity: 0;
        transition: all .3s;
      }
      &:nth-child(3) {
        top: 11px;
        transform: rotate(45deg);
      }
    }
  }
}

.content {
  flex-grow: 1;
  border: 1px solid $second-light;
  color: $white;
  padding: 16px;
}

#qwerty:checked {
  &+.menu {
    margin-left: -196px;
    border-color: transparent;
    .menu-list__el[data-tab="selected"]::after {
      display: none;
    }
  }
}

#qwerty:checked+.menu .menu-btn {
  span {
    &:nth-child(1) {
      top: 5px;
      transform: rotate(0deg);
    }
    &:nth-child(2) {
      opacity: 1;
    }
    &:nth-child(3) {
      top: 17px;
      transform: rotate(0deg);
    }
  }
}

#qwerty {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

.footer {
  background-color: $main-darck;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  p {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    color: $white;
  }
}

.input-component {
  position: relative;
  margin-bottom: 18px;
  &__input {
    font-size: 16px;
    padding: 6px 15px;
    border: none;
    background-color: transparent;
    border: 1px solid $second-light;
    border-radius: 15px;
    color: $second-light;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__label {
    position: absolute;
    font-size: 16px;
    color: $second-light;
    bottom: 6px;
    left: 15px;
    pointer-events: none;
    line-height: 1;
    transition: all 0.3s;
  }
}

.input-component__input:focus+.input-component__label {
  bottom: calc(100% + 3px);
  font-size: 10px;
  font-weight: 300;
}

.input-component__label.has-value {
  bottom: calc(100% + 3px);
  font-size: 10px;
  font-weight: 300;
}

.btn {
  &_submit {
    border: none;
    background: none;
    background-color: transparent;
    height: 40px;
    min-width: 120px;
    border-radius: 25px;
    border: 1px solid $second-light;
    font-size: 16px;
    color: $second-light;
    padding: 0 25px;
    transition: all 0.3s;
    transform: scale(1);
    &:hover {
      background-color: $second-light;
      color: $main-darck;
    }
    &:focus,
    &:active {
      outline: none;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

////// table //////
.table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
  &__td {
    border: 1px solid $second-light;
    padding: 12px;
    &:hover {
      background-color: rgba($color: $second-light, $alpha: .1);
    }
  }
}

////// viewport-badge //////
.viewport-badge {
  position: fixed;
  right: 16px;
  top: 8px;
  padding: 8px;
  font-size: 14px;
  line-height: 1;
  background-color: rgba($color: $white, $alpha: 1);
  color: $main-darck;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  transition: all 0.5s;
}

////// CLOCK //////
.clock {
  position: fixed;
  right: 8px;
  bottom: 8px;
  font-size: 0px;
  color: $second-light;
  span {
    font-size: 14px;
  }
}

////// TIMER //////
.timer {
  @extend .clock;
  left: 8px;
}

////// TAB //////
.tab {
  display: none;
}

////// CAROUSEL //////
.carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
  &-wrapper {
    font-size: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  &-slides {
    // width: 2000px;
    position: relative;
    left: 0; // transition: left 0.3s;
  }
  &-btn {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    border-left: 1px solid $second-light;
    border-bottom: 1px solid $second-light;
    transition: all 0.3s;
    &:focus,
    &:active {
      outline: none;
    }
    &.prev {
      left: 8px;
      right: auto;
      transform: rotate(45deg) scale(0.9);
      &:hover {
        transform: rotate(45deg) scale(1.1);
      }
    }
    &.next {
      left: auto;
      right: 8px;
      transform: rotate(-135deg) scale(0.9);
      &:hover {
        transform: rotate(-135deg) scale(1.1);
      }
    }
  }
  &-img {
    display: inline-block;
    img {
      width: 100%;
    }
  }
}

.dots {
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 12px;
  display: flex;
  justify-content: center;
  &__el {
    height: 4px;
    width: 18px;
    background-color: transparent;
    border: 1px solid $second-light;
    transition: background-color .6s;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background-color: $second-light;
    }
  }
}

.slide-title {
  position: absolute;
  font-size: 18px;
  color: $white;
  top: 16px;
  left: 16px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  opacity: 0;
  transition: all 0.3s;
}